<div class="match-card d-flex flex-column justify-content-center align-items-center">
    <div class="card-radius-top"></div>
    <div class="card-radius-center"></div>
    <div class="card-radius-bottom"></div>

    <div class="card-header d-flex flex-column justify-content-center align-items-center">
        <div class="cb-date">5th Dec</div>
        <div class="cb-time">17:30</div>
    </div>
    
    <div class="teams d-flex justify-content-center align-items-center w-100">
        <div class="d-flex flex-column justify-content-center align-items-center team">
            <div class="circle" >
                <img src="../../../assets/images/kkr.png" alt="">
            </div>
            <div class="title">KKR</div>
        </div>
        <div class="vs-panel d-flex flex-column justify-content-center align-items-center">
            <img src="../../../assets/images/bat-ball.svg" alt="">
            <div class="vs" >VS</div>
            <div class="title" >IPL 2021</div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center team">
            <div class="circle" >
                <img src="../../../assets/images/dc.png" alt="">
            </div>
            <div class="title">DC</div>
        </div>
    </div>

    <div class="bet-section d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center">L</div>
        <div class="d-flex justify-content-center align-items-center">MO</div>
        <div class="d-flex justify-content-center align-items-center">F</div>
        <div class="d-flex justify-content-center align-items-center">BM</div>
        <div class="d-flex justify-content-center align-items-center">M</div>
        <div class="d-flex justify-content-center align-items-center">CM</div>
    </div>
    
    <div class="pl-section">
        <div class="d-flex flex-column justify-content-center align-items-center" >
            <h2>1</h2>
            <p class="green-btn">1.65</p>
            <p class="pink-btn">1.65</p>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center" >
            <h2>X</h2>
            <p class="green-btn active">1.65</p>
            <p class="pink-btn active">1.65</p>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center" >
            <h2>2</h2>
            <p class="green-btn">1.65</p>
            <p class="pink-btn">1.65</p>
        </div>
    </div>
</div>