<div class="score-card">
    <div class="header">
        Inplay
    </div>                        
    <div class="text d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center" >IPL 2021</div>
    </div>
    <div class="logos d-flex flex-column justify-content-center align-items-center">
        <div class="team d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center" >
                <div class="circle d-flex justify-content-center align-items-center">
                    <img src="../../../assets/images/kkr.png" alt="">
                </div>

                <p>KKR</p>
            </div>

            <span>VS</span>

            <div class="d-flex flex-column justify-content-center align-items-center" >
                <div class="circle d-flex justify-content-center align-items-center">
                    <img src="../../../assets/images/dc.png" alt="">    
                </div>
                <p>DC</p>
            </div>
        </div>
        
        <button class="sm-angel-btn" >
            Bet now
        </button>
    </div>
</div>