<!-- <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div> -->
<div class="modal-body user-detail-modal-body">
    <button type="button" class="btn btn-outline-danger btn-sm modal-close-btn" (click)="activeModal.close('Close click')">
        <span class="material-icons-outlined">
            close
        </span>
    </button>

    <div class="row h-100">
        <div class="col-12 text-center d-flex flex-row justify-content-center align-items-start">
            <div class="profile-container mx-3" >
                <div class="fs-5 mb-2" >
                    <b>{{task?.title | titlecase}}</b>
                </div>                                   

                <div class="img-thumbnail profile-img">
                    <div class="img-view-modal w-100" *ngIf="task?.task" (click)="opneImgLightboxModal(backendUrl + task?.task)">
                        <img [src]="backendUrl + task?.task" class="w-100 h-100" (error)="task.task='images/default-image.png'" >
                    </div>                                                
                </div>

                <div class="mt-2" >
                    <a href="javascript:;" (click)="downloadImage(task?.title, task?.task)" >Download Task</a>
                </div>                                  
            </div>          
        </div>

        <div class="col-12 text-center p-3">                                
            <div class="text-muted text-start fs-6 d-flex details-with-icon">
                <div class="icon">
                    <i class="fas fa-share-alt fa-fw me-2 mt-1"></i>
                </div> 
                <span>Influence on {{task?.type}}</span>
            </div>  
            
            <div class="text-muted text-start fs-6 d-flex details-with-icon">
                <div class="icon">
                    <i class="fas fa-users fa-fw me-2 mt-1"></i>
                </div>
                <span>{{task?.users?.length}} Influence Taken</span>
            </div>

            <div class="text-muted text-start fs-6 d-flex details-with-icon">
                <div class="icon">
                    <i class="fas fa-store-alt fa-fw me-2 mt-1"></i>
                </div> 
                <span>{{task?.shop?.name | titlecase}} ({{task?.shop?.type}} shop)</span>
            </div>  

            <div class="text-muted text-start fs-6 d-flex details-with-icon">
                <div class="icon">
                    <i class="fas fa-map-marker-alt fa-fw me-2 mt-1"></i>
                </div> 
                <span>{{task?.shop?.address | titlecase}}</span>
            </div> 
        </div>

        <div class="col-12 mt-4">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Avatar</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>                            
                            <th scope="col">Instagram</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Birth Date</th>
                            <th scope="col">Tasks</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="users.length > 0" >
                        <ng-container *ngFor="let user of users; trackBy:trackById; let i=index" >                        
                            <tr>
                                <th scope="row" class="border-0">{{i + 1}}</th>
                                <td class="border-0">
                                    <div class="img-view-modal" *ngIf="user?.avatar" (click)="opneImgLightboxModal(user?.avatar)">
                                        <img [src]="user?.avatar" class="img-thumbnail task-screen-shot" (error)="user.avatar=''" >
                                    </div>
                                    <img src="assets/img/default-image.png" *ngIf="!user?.avatar" class="img-thumbnail task-screen-shot" >
                                </td>
                                <td class="border-0">{{user?.firstName}} {{user?.lastName}}</td>
                                <td class="border-0">{{user?.email}}</td>                            
                                <td class="border-0">{{user?.instagramHandle}} ({{user?.instagramFollowers}}) </td>                            
                                <td class="border-0">{{user?.gender}}</td>                            
                                <td class="border-0">{{user?.birthDate | date}}</td>
                                <td class="border-0">{{user?.tasks?.length}} takened</td>                                 
                            </tr>      
                            
                            <tr *ngIf="user?.tasks" >
                                <td class="pt-0"></td>
                                <td colspan="7" class="pt-0">
                                    <table class="table table-hover table-sm table-bordered m-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Task</th>
                                                <th scope="col">Shop (Type)</th>
                                                <th scope="col">Title (Type)</th>
                                                <th scope="col">Reward/Views</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr *ngFor="let t of user?.tasks; trackBy:trackById; let i=index" [ngClass]="{ 'table-active': t?.id?._id === task?._id }" >
                                                <th scope="row">{{i + 1}}</th>
                                                <td>
                                                    <div class="d-flex flex-wrap justify-content-center align-items-center" >
                                                        <ng-container *ngIf="t?.screenShot" >
                                                            <div class="img-view-modal" (click)="opneImgLightboxModal(backendUrl + t?.screenShot)">
                                                                <img [src]="backendUrl + t?.screenShot" class="img-thumbnail task-screen-shot" (error)="t.screenShot=''" >                                                        
                                                            </div>
    
                                                            <div class="ms-2 c-pointer" (click)="downloadImage(t?.id?.title + '_screen_shot', t?.screenShot)">
                                                                <span class="material-icons d-flex text-primary">cloud_download</span>
                                                            </div>
                                                        </ng-container>                                                                                                            
            
                                                        <img src="assets/img/default-image.png" *ngIf="!t?.screenShot" class="img-thumbnail task-screen-shot" >                                                                                                            
                                                    </div>
                                                </td>
                                                <td>{{t?.id?.shop?.name}} ({{t?.id?.shop?.type}})</td>
                                                <td>{{t?.id?.title}} ({{t?.id?.type}})</td>
                                                <td>${{t?.id?.reward}} on {{t?.id?.rewardOnViews}} views</td>
                                                <td [ngClass]="{'text-warning': t?.status === 'Pending', 'text-success': t?.status === 'Approved', 'text-danger': t?.status === 'Canceled'}" >
                                                    {{t?.status}}                     
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                    <tbody *ngIf="users.length === 0" >
                        <tr>
                            <td colspan="8" class="text-center" >No User Taken This Task</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>  
    </div>            
</div>