.user-detail-modal-body {    
    .profile-container {        
        .profile-img {
            width: 120px;

            @media (min-width: 992px) {
                width: 310px;
            }

            @media (max-width: 767.98px) {
                width: 310px;
            }

            div {
                font-size: 60px !important;
            }
        }
    }
    
    .task-screen-shot {
        height: 40px;
    }
}