<div class="cricket-card d-flex flex-row justify-content-start align-items-center">     
    <div class="card-header d-flex flex-column justify-content-center align-items-center">
        <div class="header">
            Match Odds
        </div>  

        <span class="material-icons close-icon d-flex justify-content-center align-items-center">close</span>

        <div class="details d-flex flex-column justify-content-center align-items-center">
            <div class="description" >Cashout</div>
            <div class="rate" >₹100</div>
            <div class="rate-green" >p- ₹100</div>
        </div>
    </div>

    <div class="card-details d-flex justify-content-start align-items-center" >        
        <div class="teams d-flex flex-column justify-content-between align-items-start ">
            <div class="d-flex justify-content-center align-items-center team">
                <div class="circle" >
                    <img src="../../../assets/images/kkr.png" alt="">
                </div>
                <div class="name ms-3">KOLKATA KNIGHT RIDERS</div>
                <div class="score positive ms-2" >0</div>
            </div>

            <div class="d-flex justify-content-center align-items-center team">
                <div class="vs d-flex justify-content-center align-items-center" >
                    <div class="circle team-1" >
                        <img src="../../../assets/images/kkr.png" alt="">
                    </div>
    
                    <div class="circle team-2" >
                        <img src="../../../assets/images/dc.png" alt="">
                    </div>
                </div>

                <div class="name ms-3">KKR X DC</div>
            </div>
           
            <div class="d-flex justify-content-center align-items-center team">
                <div class="circle" >
                    <img src="../../../assets/images/dc.png" alt="">
                </div>
                <div class="name ms-3">DELHI CAPITALS</div>
                <div class="score negative ms-2" >-100</div>
            </div>
        </div>

        <div class="action-btns d-flex justify-content-center align-items-center">
            <div class="match-suspended d-flex justify-content-center align-items-center" *ngIf="!isLive" >
                Match Suspended
            </div>

            <div class="d-flex justify-content-center align-items-center h-100" >
                <div class="d-flex flex-column justify-content-between align-items-center h-100" >
                    <div class="green-btn d-flex flex-column justify-content-center align-items-center active">
                        <div class="score" >1.65</div>
                        <div class="description" >552215</div>
                    </div> 
                    
                    <div class="green-btn d-flex flex-column justify-content-center align-items-center">
                        <div class="score" >1.65</div>
                        <div class="description" >552215</div>
                    </div> 

                    <div class="green-btn d-flex flex-column justify-content-center align-items-center">
                        <div class="score" >1.65</div>
                        <div class="description" >552215</div>
                    </div> 
                </div> 

                <div class="d-flex flex-column justify-content-between align-items-center h-100" >
                    <div class="green-btn d-flex flex-column justify-content-center align-items-center">
                        <div class="score" >3.05</div>
                        <div class="description" >552215</div>
                    </div> 
                    
                    <div class="green-btn d-flex flex-column justify-content-center align-items-center">
                        <div class="score" >3.05</div>
                        <div class="description" >552215</div>
                    </div> 

                    <div class="green-btn d-flex flex-column justify-content-center align-items-center">
                        <div class="score" >3.05</div>
                        <div class="description" >552215</div>
                    </div> 
                </div> 

                <div class="d-flex flex-column justify-content-between align-items-center h-100" >
                    <div class="green-btn d-flex flex-column justify-content-center align-items-center">
                        <div class="score" >1.65</div>
                        <div class="description" >3.76 L</div>
                    </div> 
                    
                    <div class="green-btn d-flex flex-column justify-content-center align-items-center">
                        <div class="score" >3.05</div>
                        <div class="description" >3.76 L</div>
                    </div> 

                    <div class="green-btn d-flex flex-column justify-content-center align-items-center">
                        <div class="score" >3.05</div>
                        <div class="description" >3.76 L</div>
                    </div> 
                </div> 
            </div>        
    
            <div class="d-flex justify-content-center align-items-center h-100" >            
                <div class="d-flex flex-column justify-content-between align-items-center h-100" >
                    <div class="pink-btn d-flex flex-column justify-content-center align-items-center active">
                        <div class="score" >3.05</div>
                        <div class="description" >3.76 L</div>
                    </div> 
                    
                    <div class="pink-btn d-flex flex-column justify-content-center align-items-center">
                        <div class="score" >3.05</div>
                        <div class="description" >3.76 L</div>
                    </div> 

                    <div class="pink-btn d-flex flex-column justify-content-center align-items-center">
                        <div class="score" >3.05</div>
                        <div class="description" >3.76 L</div>
                    </div> 
                </div> 

                <div class="d-flex flex-column justify-content-between align-items-center h-100" >
                    <div class="pink-btn d-flex flex-column justify-content-center align-items-center">
                        <div class="score" >1.65</div>
                        <div class="description" >552215</div>
                    </div> 
                    
                    <div class="pink-btn d-flex flex-column justify-content-center align-items-center">
                        <div class="score" >1.65</div>
                        <div class="description" >552215</div>
                    </div> 

                    <div class="pink-btn d-flex flex-column justify-content-center align-items-center">
                        <div class="score" >1.65</div>
                        <div class="description" >552215</div>
                    </div> 
                </div> 

                <div class="d-flex flex-column justify-content-between align-items-center h-100" >
                    <div class="pink-btn d-flex flex-column justify-content-center align-items-center">
                        <div class="score" >3.05</div>
                        <div class="description" >552215</div>
                    </div> 
                    
                    <div class="pink-btn d-flex flex-column justify-content-center align-items-center">
                        <div class="score" >3.05</div>
                        <div class="description" >552215</div>
                    </div> 

                    <div class="pink-btn d-flex flex-column justify-content-center align-items-center">
                        <div class="score" >3.05</div>
                        <div class="description" >552215</div>
                    </div> 
                </div> 
            </div>        
        </div>

        <div class="card-action-icons d-flex flex-column justify-content-center align-items-start h-100" >
            <div class="is-live d-flex justify-content-center align-items-center" *ngIf="isLive" >
                LIVE
            </div>

            <div class="actions d-flex flex-column justify-content-center align-items-center" >
                <span class="material-icons info">info</span>
                <span class="material-icons bookmark">bookmark</span>
                <span class="material-icons star">star_border</span>
            </div>
        </div>
    </div>
</div>