<div class="container-fluid shops">
    <div class="row d-flex justify-content-start">
        <div class="d-flex flex-wrap justify-content-start card-container">
            <div class="mx-3 d-flex justify-content-end w-100" >
                <button
                    type="button"
                    class="btn btn-sm add-btn d-flex justify-content-between align-items-center ms-auto"
                    [ngClass]="isAddSectionOpen ? 'btn-outline-danger close': 'btn-outline-success'"
                    (click)="resetForm(); isAddSectionOpen = !isAddSectionOpen"
                >
                    <span class="me-2">{{isAddSectionOpen ? 'Close' : 'Add'}} Shop</span>
                    <span class="material-icons-outlined add-close-icon fs-2">add</span>
                </button>
            </div> 

            <div class="card add-card noselect m-3" *ngIf="isAddSectionOpen" [@slideInOut]>
                <div class="card-body">
                    <form appInvalidFormFocus id="shopForm" [formGroup]="shopForm" *ngIf="shopForm" (submit)="submit()" autocomplete="off" class="row">                                            
                        <div class="col-12 col-sm-6 col-md-4" >
                            <div class="form-group noLabel mb-3 w-100">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" formControlName="name" id="name" class="form-control" required minlength="3" maxlength="100" trim="blur" >
    
                                <div *ngIf="isFormSubmittedAndError('name')" class="invalid-feedback">
                                    <ng-container *ngIf="isFormSubmittedAndError('name', 'required')">Name is required.</ng-container>
                                    <ng-container *ngIf="isFormSubmittedAndError('name', 'minlength', ['required'])">Name minimum 3 characters.</ng-container>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4" >
                            <div class="form-group noLabel mb-3 w-100">
                                <label for="type" class="form-label">Type</label>
                                <select class="form-select" formControlName="type" required trim="blur">
                                    <option *ngFor="let type of shopTypes" [value]="type" >{{type}}</option>
                                </select>

                                <div *ngIf="isFormSubmittedAndError('type')" class="invalid-feedback">
                                    <ng-container *ngIf="isFormSubmittedAndError('type', 'required')">Type is required.</ng-container>
                                </div>
                            </div>                      
                        </div>  

                        <div class="col-12 col-sm-6 col-md-4" >
                            <div class="form-group noLabel mb-3 w-100">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" #addressGoogleMap formControlName="address" id="address" class="form-control" placeholder="Search here and select shop address" required maxlength="300" trim="blur" >
    
                                <div *ngIf="isFormSubmittedAndError('address')" class="invalid-feedback">
                                    <ng-container *ngIf="isFormSubmittedAndError('address', 'required')">Address is required.</ng-container>
                                    <ng-container *ngIf="isFormSubmittedAndError('address', 'locationRequied', ['required'])">Please select shop address form dropdown OR drag map marker for get address.</ng-container>
                                </div>
                            </div>
                        </div>          

                        <div class="col-12 mt-3" >
                            <div class="text-muted" >
                                <label for="location" class="form-label">
                                    <b>Shop geo-location : </b>
                                </label>
                                <ng-container *ngIf="!location?.value || location?.value?.length === 0" >
                                    Please select shop address for get geo location (latitude, longitude)
                                </ng-container>
                                <ng-container *ngIf="location?.value?.length > 0" >
                                    longitude = {{location.value[0]}} and latitude = {{location.value[1]}}
                                </ng-container>                                                            
                            </div>
                            <agm-map [latitude]="mapConfig?.latitude" [longitude]="mapConfig?.longitude" [zoom]="mapConfig?.zoom" class="agm-google-map" >
                                <agm-marker [latitude]="mapConfig?.latitude" [longitude]="mapConfig?.longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
                            </agm-map>
                        </div>
                    </form>
                </div>
                
                <div class="card-footer">                    
                    <button type="submit" class="btn btn-minfluence btn-lg w-100" [appBtnLoader]="isSubmited?.value" form="shopForm" >Submit</button>                                                
                </div>
            </div>
        </div>        
        
        <div class="d-flex flex-wrap justify-content-evenly align-items-stretch card-container pt-3" >            
            <div class="d-flex flex-wrap justify-content-between w-100">                       
                <div class="per-page mx-3 mb-4 d-flex justify-content-start align-items-center" >                 
                    <select class="form-select me-3" [formControl]="perPage" >
                        <option [ngValue]="3">3</option>
                        <option [ngValue]="6">6</option>
                        <option [ngValue]="9">9</option>
                        <option [ngValue]="12">12</option>
                        <option [ngValue]="15">15</option>
                        <option [ngValue]="18">18</option>
                        <option [ngValue]="21">21</option>
                    </select>
                    Per page shops
                </div>            
    
                <div class="input-group search-box mx-3 mb-4">
                    <input class="form-control" type="text" [formControl]="search" placeholder="Search shop" aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-minfluence" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>            
            </div>            

            <ng-container *ngIf="shops?.data?.length > 0 && shops?.isLoading === false">
                <div class="card data-card noselect mx-3 mb-5" *ngFor="let shop of shops?.data; trackBy:trackById" >
                    <div class="card-body">                            
                        <div class="row mb-3">
                            <div class="col-12 text-center">     
                                <ngx-qrcode #shopQrCode [elementType]="elementType" [value]="frontendUrl +'auth/shop/'+ shop?._id" cssClass="shop-qr-code" [errorCorrectionLevel]="correctionLevel"></ngx-qrcode>
                                <button type="button" class="btn btn-link" (click)="downloadShopQrCode(shop)" >Download</button>

                                <div class="text-muted text-start fs-6 d-flex details-with-icon mt-3">
                                    <div class="icon">
                                        <i class="fas fa-store-alt fa-fw me-2 mt-1"></i>
                                    </div> 
                                    <span>{{shop?.name | titlecase}} ({{shop?.type}} shop)</span>
                                </div>  
                                
                                <div class="text-muted text-start fs-6 d-flex details-with-icon">
                                    <div class="icon">
                                        <i class="fas fa-map-marker-alt fa-fw me-2 mt-1"></i>
                                    </div> 
                                    <span>{{shop?.address | titlecase}}</span>
                                </div>
                            </div>
                        </div>                        
                    </div>
    
                    <div class="card-footer">
                        <button type="button" class="btn btn-lg btn-outline-success w-100 edit" (click)="editForm(shop)" >
                            <i class="far fa-edit me-2"></i> Edit
                        </button>
                        <button type="button" class="btn btn-lg btn-outline-danger w-100 delete" (click)="deleteRecord(shop?._id)" >
                            <i class="far fa-trash-alt me-2"></i> Delete
                        </button>
                    </div>
                </div>

                <div class="w-100 d-flex justify-content-between mx-3 mb-4" *ngIf="documents.value > 0" >
                    <div>Showing {{(page.value - 1) * perPage.value || 1}} to {{((page.value * perPage.value) > documents.value) ? documents.value : (page.value * perPage.value)}} of {{documents.value}} shops</div>
                    <ngb-pagination [page]="page.value" [collectionSize]="documents.value" [pageSize]="perPage.value" (pageChange)="page.setValue($event)" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" ></ngb-pagination>                            
                </div>
            </ng-container>                       

            <div class="card noselect loading-and-no-data-card mx-3 mb-4" *ngIf="shops?.data?.length === 0 || shops?.isLoading === true">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <img [src]="shops?.isLoading ? 'assets/img/loading.jpg' : 'assets/img/no-data.jpg'" alt="" srcset="">
                    <div class="mb-5" >{{shops?.isLoading ? 'Loading Data' : 'Data Not Found'}}</div>
                </div>
            </div>            
        </div>
    </div>    
</div>