:host {
    display: flex;
}

::ng-deep {
    .shops {
        .left-panel {
            .owl-carousel-casino {
                z-index: 0;

                .owl-carousel .owl-item img {
                    height: 130px;
                }

                .owl-stage-outer  {
                    border-radius: 0px 0px 15px 15px;
                }
            }
        }
    }
}

@media (max-width: 768px) { 
    .shops {
        .left-panel {
            width: calc(100% - 0px) !important;
        }

        .right-panel { 
            width: 0px;
        }
    }
}

.shops {
    .left-panel {
        width: calc(100% - 320px);
        padding: 0px min(max(16px, 2vw), 24px);

        .carousel-tabs {
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            bottom: calc(min(max(30px, 4vw), 49px) - 1px);
            height: min(max(30px, 4vw), 49px);
            box-shadow: 3px 3px 1px 1px rgba(10, 11, 14, 0.9);
            border-radius: 0px 0px 0px 15px;
            z-index: 1;
    
            .tab {
                position: relative;
                width: min(max(82px, 10vw), 110px);
                height: min(max(30px, 4vw), 49px);
                right: min(max(16px, 2vw), 24px);
                color: white;
                filter: drop-shadow(0px 0px 2px rgba(50, 54, 60, 1));

                .area {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: min(max(92px, 12vw), 134px);
                    height: min(max(30px, 4vw), 49px);
                    padding-left: min(max(16px, 2vw), 24px);
                    background: linear-gradient(134.38deg, #1A1D24 0%, #181B20 109.38%);
                    clip-path: polygon(0 48%, 18% 0, 30% 0, 100% 0%, 100% 0%, 100% 99%, 100% 99%, 1% 99%);

                    .title {
                        font-weight: 600;
                        font-size: min(max(8px, 1vw), 14px);
                        line-height: normal;
                        color: #23B054;
                    }
                    .description {
                        font-size: min(max(6px, 1vw), 10px);
                        line-height: normal;
                        color: #E2E2E2;
                    }                  
                }
            }
        }

        .sub-nav {
            position: relative;
            width: 590px;
            max-width: 100%;
            height: 70px;
            margin: 0px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #1A1D24;
            box-shadow: -2px 2px 6px rgba(10, 12, 14, 0.2), 2px -2px 6px rgba(10, 12, 14, 0.2), -2px -2px 6px rgba(42, 46, 58, 0.9), 2px 2px 13px rgba(10, 12, 14, 0.9), inset 1px 1px 2px rgba(42, 46, 58, 0.3), inset -1px -1px 2px rgba(10, 12, 14, 0.5);
            border-radius: 10px;

            .nav-btn {
                position: relative;
                .btn {
                    position: relative;
                    font-weight: 500;
                    font-size: min(max(12px, 1vw), 18px);
                    letter-spacing: -0.01em;
                    text-transform: capitalize;
                    color: #918F8F;
                    background-color: transparent;
                    border: 0px;
                    outline: none;
                    padding: 0px 24px;                   
                }
                
                &::before, &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 2px;
                    height: 27px;
                    background-image: url('../../../assets/images/lines.png');
                }

                &::after {
                    content: none;
                }
                
                &:nth-child(1) {
                    &::before { 
                        content: none;
                    }
                }                
            }

            select {
                width: 123px;
                height: 33px;
                background: #131318;
                color: #908F8F !important;
                border-radius: 6px;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                text-transform: capitalize;
                border: none;
                outline: none;
                padding: 5px 6px;
                margin: 0px 24px;
            }
            a {
                img {
                    width: 20px;
                }
            }           
        }        
    }

    .right-panel {
        width: 320px;
    }
}


