<div class="sub-nav" *ngIf="tabs" >
  <div class="nav-btn d-flex justify-content-center align-items-center" [ngClass]="{'is-condition': !isCondition}"  *ngFor="let tab of tabs | keyvalue" >
      <button class="btn" *ngIf="tab.key" [routerLink]="[tab.key || '']" routerLinkActive="active" >
          {{tab?.value}}
      </button>
  </div>

  <select name="sports" class="selectbar">
      <option value="#">Select Sports</option>
      <option value="#">Cricket</option>
      <option value="#">Tennis</option>
  </select>

  <a href="#" class="pe-3">
      <img src="../../../assets/images/menu.svg" alt=""  /> 
  </a>
</div>