<footer class="footer mt-5">
    <div class="container">
        <div class="row about-sahktimaan ">
            <div class="col-12 col-md-5 col-lg-4">
                <div class="mb-3"><img src="assets/images/shaktimaan logo.png" width="160px"></div>
                
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                <p>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 links pl-lg-5">
                <h6>Sports</h6>
                <ul>
                    <li><a href="index.htm">Home</a></li>
                    <li><a href="news.html">News</a></li>
                    <li><a href="result.html">Live Upadate</a></li>
                    <li><a href="blog.html">Blogs</a></li>
                    <li><a href="sponsor-events.html">Sponsors</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="images.html">Gallery</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-3 links ">
                <h6>Contact us</h6>
                <ul>
                    <li><a href="#"><i class="fa fa-phone mr-1"></i>+447360268555</a></li>
                    <li><a href="#"><i class="fa fa-envelope mr-1"></i>info@sahktimaan.com</a></li>
                    <li><a href="#"><i class="fas fa-globe mr-1"></i>https://sahktimaan.com</a></li>
                </ul>
            </div>
            <div class="col-8 col-md-5 col-lg-3 mb-5 m-auto">
                <div class="social-icons">
                    <a href="#" >
                        <div class="box">
                            <img src="assets/images/Group 48096514.png">
                        </div>
                    </a>
                    <a href="#" >
                        <div class="box">
                            <img src="assets/images/Group 48096515.png">
                        </div>
                    </a>
                    <a href="#" >
                        <div class="box">
                            <img src="assets/images/whatsapp.png">
                        </div>
                    </a>
                </div>
                <div class="social-icons">
                    <a href="#" >
                        <div class="box">
                            <img src="assets/images/instagram.png">
                        </div>
                    </a>
                    <a href="#" >
                        <div class="box">
                            <img src="assets/images/twitter.png">
                        </div>
                    </a>
                    <a href="#" >
                        <div class="box">
                            <img src="assets/images/Vector (1).png">
                        </div>
                    </a>
                </div>
                <div class="social-icons">
                    <a href="#" >
                        <div class="box">
                            <img src="assets/images/Facebook (1).png">
                        </div>
                    </a>
                    <a href="#" >
                        <div class="box">
                            <img src="assets/images/youtube.png">
                        </div>
                    </a>
                    <a href="#" >
                        <div class="box">
                            <img src="assets/images/Group (1).png">
                        </div>
                    </a>
                </div>
            </div>
        </div>
       <!--  <div class="language mt-3">
            <h6 >
            <span>Languages</span>
            <span>हिन्दी</span>
            <span>मराठी</span>
            <span>বাংলা</span>
            <span>తెలుగు</span>
            </h6>
        </div> -->
        <p class="text-center text-gray mt-3">We accept, process & disburse digital payments for your business Fast & Secure Payment</p>
        <div class="payment-opction mt-3">
            <div><img src="assets/images/visa-logo.png"></div>
            <div><img src="assets/images/Mastercard.png"></div>
            <div><img src="assets/images/Skrill.png"></div>
            <div><img src="assets/images/Bitcoin.png"></div>
            <div><img src="assets/images/layer 2.png"></div>
            <div><img src="assets/images/Vector (2).png"></div>
            <div><img src="assets/images/Vector (3).png"></div>
            <div><img src="assets/images/Vector (4).png"></div>
        </div>
        <div class="bootom-link text-center mt-3">
            <a href="#"> About us </a>  <a href="#">  Help  </a>  <a href="#">  security </a>  <a href="#">  game rules </a>  <a href="#">  terms and conditions  </a>  <a href="#">  Responsible Gaming   </a>
        </div>
        <div class=" d-flex align-items-center justify-content-center mt-4 mb-5">
            <div class="mr-3" ><img src="assets/images/image 104.png"></div>
            <div class="mx-3" ><img src="assets/images/image 105.png"></div>
            <div class="" ><img src="assets/images/image 103.png"></div>
        </div>
    </div>
</footer>