
<app-header></app-header>

<div class="sm-bottom-bar d-flex d-md-none" style="z-index: 2;">
    <a class="sm-menu-item d-flex flex-column justify-content-center align-items-center" [ngClass]="{'sm-current active': currentRoute === '/'}" (click)="onClickBottomMenu('/')" >
        <img src="/assets/images/basket-ball.svg" alt="" />   
        <div>Sports</div>   
    </a>

    <a class="sm-menu-item d-flex flex-column justify-content-center align-items-center" [ngClass]="{'sm-current active': currentRoute === '/match'}" (click)="onClickBottomMenu('/match')">
        <img src="/assets/images/basket-ball.svg" alt="" />      
        <div>Match</div>   
    </a>   

    <a class="sm-nav-indicator"></a>

    <a class="sm-menu-item d-flex flex-column justify-content-center align-items-center" [ngClass]="{'sm-current active': currentRoute === '/casino'}" (click)="onClickBottomMenu('/casino')">
        <img src="/assets/images/basket-ball.svg" alt="" />      
        <div>Casino</div>   
    </a>

    <a class="sm-menu-item d-flex flex-column justify-content-center align-items-center" [ngClass]="{'sm-current active': currentRoute === '/horse-betting'}" (click)="onClickBottomMenu('/horse-betting')">
        <img src="/assets/images/basket-ball.svg" alt="" />      
        <div>Horse</div>   
    </a>

    <a class="sm-menu-item d-flex flex-column justify-content-center align-items-center" [ngClass]="{'sm-current active': currentRoute === '/promotion'}" (click)="onClickBottomMenu('/promotion')">
        <img src="/assets/images/basket-ball.svg" alt="" />      
        <div>Promotion</div>   
    </a>
</div>
