
<app-header></app-header>

<div class="sm-bottom-bar d-flex d-md-none" style="z-index: 2;">
    <a class="sm-menu-item d-flex flex-column justify-content-center align-items-center active">
        <img src="/assets/images/basket-ball.svg" alt="" />   
        <div>Sports</div>   
    </a>

    <a class="sm-menu-item d-flex flex-column justify-content-center align-items-center">
        <img src="/assets/images/basket-ball.svg" alt="" />      
        <div>Inplay</div>   
    </a>

    <a class="sm-menu-item sm-center d-flex flex-column justify-content-center align-items-center">
        <img src="/assets/images/basket-ball.svg" alt="" />      
        <div>Inplay</div>   

        <a class="sm-nav-indicator"></a>
    </a>


    <a class="sm-menu-item d-flex flex-column justify-content-center align-items-center" routerLink="/casino" routerLinkActive="active">
        <img src="/assets/images/basket-ball.svg" alt="" />      
        <div>Casino</div>   
    </a>

    <a class="sm-menu-item d-flex flex-column justify-content-center align-items-center">
        <img src="/assets/images/basket-ball.svg" alt="" />      
        <div>Profile</div>   
    </a>
</div>
