<div class="modal-header match-score-header d-flex justify-content-center align-items-center">
  <div class="d-flex justify-content-around align-items-center w-100" >
    <span class="material-icons">add</span>
    <div class="count" >1.84</div>
    <span class="material-icons">remove</span>
  </div>
</div>
<div class="modal-body match-score-body d-flex flex-column justify-content-center align-items-center">
  <div class="team-back-btn d-flex justify-content-between align-items-center w-100" >
    <div class="d-flex justify-content-center align-items-center team">
      <div class="circle" >
          <img src="../../../assets/images/kkr.png" alt="">
      </div>

      <div class="name ms-2" >KKR</div>
    </div>

    <div class="d-flex justify-content-center align-items-center back" (click)="onCloseModal()" >
      <div class="dot me-2" ></div> Back
    </div>
  </div>

  <div class="scaler-circle" >
    
  </div>

  <div class="increment-decrement-btn d-flex justify-content-between align-items-center w-100" >
    <div class="d-flex justify-content-center align-items-center decrement" >
      <span class="material-icons">arrow_left</span>
    </div>

    <div class="d-flex justify-content-center align-items-center increment" >
      <span class="material-icons">arrow_right</span>
    </div>
  </div>
</div>
<div class="modal-footer match-score-footer">
  Bet
</div>