<div class="container-fluid payments">
    <div class="row d-flex justify-content-start">
        <div class="d-flex flex-wrap justify-content-evenly align-items-stretch card-container pt-3" >            
            <div class="d-flex flex-wrap justify-content-between w-100">                       
                <div class="per-page mx-3 mb-4 d-flex justify-content-start align-items-center" >                 
                    <select class="form-select me-3" [formControl]="perPage" >
                        <option [ngValue]="3">3</option>
                        <option [ngValue]="6">6</option>
                        <option [ngValue]="9">9</option>
                        <option [ngValue]="12">12</option>
                        <option [ngValue]="15">15</option>
                        <option [ngValue]="18">18</option>
                        <option [ngValue]="21">21</option>
                    </select>
                    Per page payments
                </div>            
    
                <div class="input-group search-box mx-3 mb-4">
                    <input class="form-control" type="text" [formControl]="search" placeholder="Search payment" aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-minfluence" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>            
            </div>            

            <ng-container *ngIf="payments?.data?.length > 0 && payments?.isLoading === false">
                <div class="card table-card loading-and-no-data-card mx-3 mb-4">
                    <div class="card-body">
                        <div class="table-responsive w-100">
                            <table class="table table-hover  w-100">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Previous balance</th>
                                        <th scope="col">Pay</th>
                                        <th scope="col">Balance</th>
                                        <th scope="col">User</th>
                                        <th scope="col">Paid On</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="payments?.data?.length > 0" >
                                    <tr *ngFor="let payment of payments?.data; trackBy:trackById; let i=index" >
                                        <th scope="row">{{i + 1}}</th>
                                        <td>${{payment?.balance}}</td>
                                        <td>${{payment?.pay}}</td>
                                        <td>${{payment?.balance - payment?.pay}}</td>
                                        <td>{{payment?.user.firstName}} {{payment?.user.lastName}}</td>
                                        <td>{{payment?.createdAt | date}}</td>                                
                                    </tr>                    
                                </tbody>
                                <tbody *ngIf="payments?.data?.length === 0" >
                                    <tr>
                                        <td colspan="6" class="text-center" >No Patment Done yet</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="w-100 d-flex justify-content-between mx-3 mb-4" *ngIf="documents.value > 0" >
                    <div>Showing {{(page.value - 1) * perPage.value || 1}} to {{((page.value * perPage.value) > documents.value) ? documents.value : (page.value * perPage.value)}} of {{documents.value}} payments</div>
                    <ngb-pagination [page]="page.value" [collectionSize]="documents.value" [pageSize]="perPage.value" (pageChange)="page.setValue($event)" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" ></ngb-pagination>                            
                </div>
            </ng-container>                       

            <div class="card noselect loading-and-no-data-card mx-3 mb-4" *ngIf="payments?.data?.length === 0 || payments?.isLoading === true">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <img [src]="payments?.isLoading ? 'assets/img/loading.jpg' : 'assets/img/no-data.jpg'" alt="" srcset="">
                    <div class="mb-5" >{{payments?.isLoading ? 'Loading Data' : 'Data Not Found'}}</div>
                </div>
            </div>            
        </div>
    </div>    
</div>