:host {
    display: flex;
}

.payments {
    .search-box, .per-page {
        width: 450px;
        max-width: 100%;

        @media screen and (max-width: 1320px) {
            width: 100%;          
        }      
        
        select {
            width: 100px;
        }
    }    

    .card-container {
        .card {            
            &.table-card {                        
                border: 0;
                border-radius: 12px;      
                transition: ease-in-out 0.5s;
                cursor: default;
                width: 100%;
                max-width: 100%;            
                                
                .card-body {
                    border: 1px solid rgba(0,0,0,.125);
                    border-radius: 12px;                                                             
                }                
            }
        } 
        
        .card.loading-and-no-data-card {
            border-radius: 12px;      
            width: 100%;
            min-height: 300px;     
            
            img {
                width: 250px;
                max-width: 90%;
            }
        }
    }    
}